@model MonitoringViewModel
@{
    ViewBag.Title = "Monitoring";
}

<div class="page-header">
    <h1>Monitoring</h1>
</div>

<h4>Configuration</h4>
@if(Model.Configuration != null)
{ 
<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Configuration)
        {

            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <p>There is no readable configuration</p>
}

<h4>Rate limits</h4>

@if(Model.RateLimits != null && Model.RateLimits.Count > 0)
{ 
<table class="table">
    <thead>
        <tr>
            <th>Provider</th>
            <th>Category</th>
            <th>Remaining</th>
            <th>Next window reset date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RateLimits)
        {
            <tr>
                <td>@item.Value.ProviderName</td>
                <td>@item.Key</td>
                <td>@item.Value.Remaining</td>
                <td>@item.Value.ResetDateTime.ToLocalTime()</td>
            </tr>
        }
    </tbody>        
</table>
}
else
{
    <p>Rate limits not found</p>
}

<h4>Last name checks</h4>
@if (Model.LastNameChecks != null)
{ 
@Html.Partial("_NameCheckList", Model.LastNameChecks)
}
else
{
    <p>Nothing to display</p>
}

<h4>Last name checks batches</h4>
@if (Model.LastNameCheckBatches != null)
{ 
@Html.Partial("_NameCheckBatchList", Model.LastNameCheckBatches)
}
else
{
    <p>Nothing to display</p>
}